token: ''
bot_account: True
save_files: False
# This is disabled by default, turn on if you want to store attachments.
log_dir: 'logs'
ignore_servers:
- example
- second server you might want to ignore
# Below is only relevant if you enable logexisting.py, see README for details
commands_enabled: False
prefix: '>'