token: ''
bot_account: True
save_files: False
# This is disabled by default, turn on if you want to store attachments.

# Below is only relevant if you enable logexisting.py, see README for details
commands_enabled: False
prefix: '>'

# Whitelist and blacklist below. Turn them on to use them. Use Guild IDs.

use_whitelist: False
whitelist: !!set
 ? example
 ? second server you might want to whitelist

use_blacklist: False
blacklist: !!set
 ? example
 ? second server you might want to ignore